<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="utf-8">
	<title>Site do Siego</title>
	<meta  name="viewport" content="width-device-width, initial-scale=1, shrink-to-fit-no">
	<link rel="icon" type="text/css" href="https://www.geekuniversity.com.br/static/images/favicon.4fcb819d32bf.ico">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" id="bootstrap/css">
	<link rel="stylesheet" type="text/css" href="https://getbootstrap.com/docs/4.0/examples/sign-in/signin.css">
</head>
<body class="text-center">

		{% block content%}


		{% endblock %}
		<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.min.js"></script>
</body>
</html>